In [78]:
# import dependencies
import os, inspect
import pandas as pd

# get current dir
curr_dir = os.path.dirname(inspect.getabsfile(inspect.currentframe()))
root_dir = os.path.dirname(curr_dir)

In [79]:
year = 2018
columns_to_drop = [
#     "AIRLINE_ID",
#     "UNIQUE_CARRIER_ENTITY",
#     "ORIGIN_AIRPORT_ID",
    "ORIGIN_AIRPORT_SEQ_ID",
    "ORIGIN_CITY_MARKET_ID",
    "ORIGIN",
    "ORIGIN_CITY_NAME",
    "ORIGIN_STATE_ABR",
    "ORIGIN_STATE_FIPS",
    "ORIGIN_STATE_NM",
    "ORIGIN_WAC",
#     "DEST_AIRPORT_ID",
    "DEST_AIRPORT_SEQ_ID",
    "DEST_CITY_MARKET_ID",
    "DEST",
    "DEST_CITY_NAME",
    "DEST_STATE_ABR",
    "DEST_STATE_FIPS",
    "DEST_STATE_NM",
    "DEST_WAC",
    "Unnamed: 36",
    "REGION",
    "CARRIER_GROUP",
    "CARRIER_GROUP_NEW"]

In [80]:
# read airport data
fname = os.path.join(root_dir, "airboard", "data", "raw", "616228237_T_MASTER_CORD.zip")
airports_df = pd.read_csv(fname)
print(os.linesep, " columns:" , os.linesep, 40*"-")
print(repr(airports_df.columns))
# trim data frame
airports_df = airports_df[[
    "AIRPORT_ID",
    "AIRPORT",
    "LATITUDE",
    "LONGITUDE",
    "DISPLAY_AIRPORT_NAME",
    "DISPLAY_AIRPORT_CITY_NAME_FULL",
    "AIRPORT_STATE_NAME",
    "AIRPORT_STATE_CODE",
    "AIRPORT_COUNTRY_NAME",]]
# keep only the last airport recorded
airports_df.drop_duplicates("AIRPORT_ID", keep="last", inplace=True)
# explore data frame
print(os.linesep, " dtypes:" , os.linesep, 40*"-")
print(airports_df.dtypes)
print(os.linesep, " nulls:" , os.linesep, 40*"-")
print(airports_df.isnull().any())
print(os.linesep, " shape:" , os.linesep, 40*"-")
print(airports_df.shape)
airports_df.head()

  columns:
 ----------------------------------------
Index(['AIRPORT_SEQ_ID', 'AIRPORT_ID', 'AIRPORT', 'DISPLAY_AIRPORT_NAME',
       'DISPLAY_AIRPORT_CITY_NAME_FULL', 'AIRPORT_WAC_SEQ_ID2', 'AIRPORT_WAC',
       'AIRPORT_COUNTRY_NAME', 'AIRPORT_COUNTRY_CODE_ISO',
       'AIRPORT_STATE_NAME', 'AIRPORT_STATE_CODE', 'AIRPORT_STATE_FIPS',
       'CITY_MARKET_SEQ_ID', 'CITY_MARKET_ID', 'DISPLAY_CITY_MARKET_NAME_FULL',
       'CITY_MARKET_WAC_SEQ_ID2', 'CITY_MARKET_WAC', 'LAT_DEGREES',
       'LAT_HEMISPHERE', 'LAT_MINUTES', 'LAT_SECONDS', 'LATITUDE',
       'LON_DEGREES', 'LON_HEMISPHERE', 'LON_MINUTES', 'LON_SECONDS',
       'LONGITUDE', 'UTC_LOCAL_TIME_VARIATION', 'AIRPORT_START_DATE',
       'AIRPORT_THRU_DATE', 'AIRPORT_IS_CLOSED', 'AIRPORT_IS_LATEST',
       'Unnamed: 32'],
      dtype='object')

  dtypes:
 ----------------------------------------
AIRPORT_ID                          int64
AIRPORT                            object
LATITUDE                          float64
LONGITUDE                         float64
DISPLAY_AIRPORT_NAME               object
DISPLAY_AIRPORT_CITY_NAME_FULL     object
AIRPORT_STATE_NAME                 object
AIRPORT_STATE_CODE                 object
AIRPORT_COUNTRY_NAME               object
dtype: object

  nulls:
 ----------------------------------------
AIRPORT_ID                        False
AIRPORT                           False
LATITUDE                           True
LONGITUDE                          True
DISPLAY_AIRPORT_NAME              False
DISPLAY_AIRPORT_CITY_NAME_FULL    False
AIRPORT_STATE_NAME                 True
AIRPORT_STATE_CODE                 True
AIRPORT_COUNTRY_NAME              False
dtype: bool

  shape:
 ----------------------------------------
(6478, 9)

,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_STATE_NAME,AIRPORT_STATE_CODE,AIRPORT_COUNTRY_NAME
0,10001,01A,58.109444,-152.906667,Afognak Lake Airport,"Afognak Lake, AK",Alaska,AK,United States
1,10003,03A,65.548056,-161.071667,Bear Creek Mining Strip,"Granite Mountain, AK",Alaska,AK,United States
2,10004,04A,68.083333,-163.166667,Lik Mining Camp,"Lik, AK",Alaska,AK,United States
3,10005,05A,67.570000,-148.183889,Little Squaw Airport,"Little Squaw, AK",Alaska,AK,United States
4,10006,06A,57.745278,-152.882778,Kizhuyak Bay,"Kizhuyak, AK",Alaska,AK,United States

In [81]:
df = pd.DataFrame()
for year in range(2000, 2001):
    fname =  os.path.join(root_dir,
                           "airboard",
                           "data",
                           "raw",
                           f"{year}_616181125_T_T100D_MARKET_ALL_CARRIER.zip")
    # read csv
    year_df = pd.read_csv(fname,
                      compression="zip")
    # drop columns
    year_df.drop(columns_to_drop, axis=1, inplace=True)
    # cast data types
    year_df[["YEAR", "QUARTER", "MONTH", "DISTANCE_GROUP"]] = \
        year_df[["YEAR", "QUARTER", "MONTH", "DISTANCE_GROUP"]].astype("int32")
    
#     # concatenate dataframes (skipped: the concat. data frame did not fit to memory.)
#     df = pd.concat([df, df_], 
#                    axis=0,
#                    ignore_index=True)

In [82]:
year_df.info()

(143973, 17)

In [83]:
# look up for ORIGIN airport metadata
year_df = pd.merge(
    year_df,
    airports_df,
    left_on="ORIGIN_AIRPORT_ID",
    right_on="AIRPORT_ID",
    suffixes=("_left", "_right"),
    how="left")
year_df.rename(
    index=str,
    columns={"AIRPORT": "ORIGIN_AIRPORT_CODE",
          "LATITUDE": "ORIGIN_LATITUDE",
          "LONGITUDE": "ORIGIN_LONGITUDE",
          "DISPLAY_AIRPORT_NAME": "ORIGIN_AIRPORT_NAME",
          "DISPLAY_AIRPORT_CITY_NAME_FULL": "ORIGIN_CITY",
          "AIRPORT_STATE_NAME": "ORIGIN_AIRPORT_STATE",
          "AIRPORT_STATE_CODE": "ORIGIN_AIRPORT_STATE_CODE",
          "AIRPORT_COUNTRY_NAME": "ORIGIN_AIRPORT_COUNTRY"},
    inplace=True)
year_df.drop(["AIRPORT_ID"], axis=1, inplace=True)

# look up for DEST airport metadata
year_df = pd.merge(
    year_df,
    airports_df,
    left_on="DEST_AIRPORT_ID",
    right_on="AIRPORT_ID",
    suffixes=("_left", "_right"),
    how="left")
year_df.rename(
    index=str,
    columns={"AIRPORT": "DEST_AIRPORT_CODE",
          "LATITUDE": "DEST_LATITUDE",
          "LONGITUDE": "DEST_LONGITUDE",
          "DISPLAY_AIRPORT_NAME": "DEST_AIRPORT_NAME",
          "DISPLAY_AIRPORT_CITY_NAME_FULL": "DEST_CITY",
          "AIRPORT_STATE_NAME": "DEST_AIRPORT_STATE",
          "AIRPORT_STATE_CODE": "DEST_AIRPORT_STATE_CODE",
          "AIRPORT_COUNTRY_NAME": "DEST_AIRPORT_COUNTRY"},
    inplace=True)
year_df.drop(["AIRPORT_ID"], axis=1, inplace=True)

# drop rows that do not have UNIQUE_CARRIER_NAME (drop rows with null UNIQUE_CARRIER_NAME)
year_df.dropna(how="any",
               axis=0,
               subset=["UNIQUE_CARRIER_NAME"],
               inplace=True)

In [84]:
year_df.columns

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'UNIQUE_CARRIER_ENTITY', 'CARRIER',
       'CARRIER_NAME', 'ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'YEAR',
       'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS', 'ORIGIN_AIRPORT_CODE',
       'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE', 'ORIGIN_AIRPORT_NAME',
       'ORIGIN_CITY', 'ORIGIN_AIRPORT_STATE', 'ORIGIN_AIRPORT_STATE_CODE',
       'ORIGIN_AIRPORT_COUNTRY', 'DEST_AIRPORT_CODE', 'DEST_LATITUDE',
       'DEST_LONGITUDE', 'DEST_AIRPORT_NAME', 'DEST_CITY',
       'DEST_AIRPORT_STATE', 'DEST_AIRPORT_STATE_CODE',
       'DEST_AIRPORT_COUNTRY'],
      dtype='object')

In [87]:
year_df.isnull().any()

PASSENGERS                   False
FREIGHT                      False
MAIL                         False
DISTANCE                     False
UNIQUE_CARRIER                True
AIRLINE_ID                    True
UNIQUE_CARRIER_NAME           True
UNIQUE_CARRIER_ENTITY         True
CARRIER                      False
CARRIER_NAME                  True
ORIGIN_AIRPORT_ID            False
DEST_AIRPORT_ID              False
YEAR                         False
QUARTER                      False
MONTH                        False
DISTANCE_GROUP               False
CLASS                        False
ORIGIN_AIRPORT_CODE          False
ORIGIN_LATITUDE              False
ORIGIN_LONGITUDE             False
ORIGIN_AIRPORT_NAME          False
ORIGIN_CITY                  False
ORIGIN_AIRPORT_STATE         False
ORIGIN_AIRPORT_STATE_CODE    False
ORIGIN_AIRPORT_COUNTRY       False
DEST_AIRPORT_CODE            False
DEST_LATITUDE                False
DEST_LONGITUDE               False
DEST_AIRPORT_NAME            False
DEST_CITY                    False
DEST_AIRPORT_STATE           False
DEST_AIRPORT_STATE_CODE      False
DEST_AIRPORT_COUNTRY         False
dtype: bool

In [94]:
year_df[['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'UNIQUE_CARRIER_ENTITY', 'CARRIER',
       'CARRIER_NAME']].head()

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,CARRIER,CARRIER_NAME
0,0.0,61160.0,0.0,1581.0,HLQ,19579.0,Heavylift Cargo Airlines Lt,9493I,HLQ,Heavylift Cargo Airlines Lt
1,0.0,69586.0,0.0,856.0,HLQ,19579.0,Heavylift Cargo Airlines Lt,9493I,HLQ,Heavylift Cargo Airlines Lt
2,0.0,63998.0,0.0,856.0,HLQ,19579.0,Heavylift Cargo Airlines Lt,9493I,HLQ,Heavylift Cargo Airlines Lt
3,0.0,47740.0,0.0,1447.0,HLQ,19579.0,Heavylift Cargo Airlines Lt,9493I,HLQ,Heavylift Cargo Airlines Lt
4,0.0,182072.0,0.0,1568.0,HLQ,19579.0,Heavylift Cargo Airlines Lt,9493I,HLQ,Heavylift Cargo Airlines Lt